<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Style the container for the boxes */
      .container {
        display: flex;
        flex-wrap: wrap;
      }

      /* Style the individual box */
      .box {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        margin: 10px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">Box 1</div>
      <div class="box">Box 2</div>
      <div class="box">Box 3</div>
    </div>
  </body>
</html>
